@font-face {
    font-family: 'nunitoblack';
    src: url('../fonts/nunito/nunito-black-webfont.eot');
    src: url('../fonts/nunito/nunito-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nunito/nunito-black-webfont.woff2') format('woff2'),
         url('../fonts/nunito/nunito-black-webfont.woff') format('woff'),
         url('../fonts/nunito/nunito-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nunitoblack_italic';
    src: url('../fonts/nunito/nunito-blackitalic-webfont.eot');
    src: url('../fonts/nunito/nunito-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nunito/nunito-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/nunito/nunito-blackitalic-webfont.woff') format('woff'),
         url('../fonts/nunito/nunito-blackitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nunitobold';
    src: url('../fonts/nunito/nunito-bold-webfont.eot');
    src: url('../fonts/nunito/nunito-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nunito/nunito-bold-webfont.woff2') format('woff2'),
         url('../fonts/nunito/nunito-bold-webfont.woff') format('woff'),
         url('../fonts/nunito/nunito-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nunitobold_italic';
    src: url('../fonts/nunito/nunito-bolditalic-webfont.eot');
    src: url('../fonts/nunito/nunito-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nunito/nunito-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/nunito/nunito-bolditalic-webfont.woff') format('woff'),
         url('../fonts/nunito/nunito-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nunitoextrabold';
    src: url('../fonts/nunito/nunito-extrabold-webfont.eot');
    src: url('../fonts/nunito/nunito-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nunito/nunito-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/nunito/nunito-extrabold-webfont.woff') format('woff'),
         url('../fonts/nunito/nunito-extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nunitoextrabold_italic';
    src: url('../fonts/nunito/nunito-extrabolditalic-webfont.eot');
    src: url('../fonts/nunito/nunito-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nunito/nunito-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/nunito/nunito-extrabolditalic-webfont.woff') format('woff'),
         url('../fonts/nunito/nunito-extrabolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nunitoextralight';
    src: url('../fonts/nunito/nunito-extralight-webfont.eot');
    src: url('../fonts/nunito/nunito-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nunito/nunito-extralight-webfont.woff2') format('woff2'),
         url('../fonts/nunito/nunito-extralight-webfont.woff') format('woff'),
         url('../fonts/nunito/nunito-extralight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nunitoextralight_italic';
    src: url('../fonts/nunito/nunito-extralightitalic-webfont.eot');
    src: url('../fonts/nunito/nunito-extralightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nunito/nunito-extralightitalic-webfont.woff2') format('woff2'),
         url('../fonts/nunito/nunito-extralightitalic-webfont.woff') format('woff'),
         url('../fonts/nunito/nunito-extralightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nunitoitalic';
    src: url('../fonts/nunito/nunito-italic-webfont.eot');
    src: url('../fonts/nunito/nunito-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nunito/nunito-italic-webfont.woff2') format('woff2'),
         url('../fonts/nunito/nunito-italic-webfont.woff') format('woff'),
         url('../fonts/nunito/nunito-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nunitolight';
    src: url('../fonts/nunito/nunito-light-webfont.eot');
    src: url('../fonts/nunito/nunito-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nunito/nunito-light-webfont.woff2') format('woff2'),
         url('../fonts/nunito/nunito-light-webfont.woff') format('woff'),
         url('../fonts/nunito/nunito-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nunitolight_italic';
    src: url('../fonts/nunito/nunito-lightitalic-webfont.eot');
    src: url('../fonts/nunito/nunito-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nunito/nunito-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/nunito/nunito-lightitalic-webfont.woff') format('woff'),
         url('../fonts/nunito/nunito-lightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nunitoregular';
    src: url('../fonts/nunito/nunito-regular-webfont.eot');
    src: url('../fonts/nunito/nunito-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nunito/nunito-regular-webfont.woff2') format('woff2'),
         url('../fonts/nunito/nunito-regular-webfont.woff') format('woff'),
         url('../fonts/nunito/nunito-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.bx-wrapper{max-width: 100% !important;}
body{font-family: 'nunitobold';font-size: 14px;}
.family-ex{font-family: 'nunitoextrabold'; }
.no-padding{padding: 0 !important; top: 10px;}
.no-margin{margin: 0 !important;}
.pad-mv{padding: 35px 20px !important;}
.font-sz-12{font-size: 12px !important;}
.font-sz-18{font-size: 18px;}
.font-sz-16{font-size: 16px;}
.font-sz-15{font-size: 15px;}
.font-sz-12{font-size: 12px;}
.margin-btm-16{margin: 0 0 16px;}
.margin-btm-5{margin: 0 0 5px;}
.green{color: #04a256;}
.red{color: #be2026;}
.blue-clr{color: #82c3de;}
.font-dr-colr{color: #1d2730;}
.font-md-colr{color: #413f3f;}
.font-fet-colr{color: #666565;}
.sml-fnt{font-size: 12px;color: grey;opacity: 5.2;}
.row{margin:0!important;}
.gradi-clor{background: rgba(233,44,88,1);
background: -moz-linear-gradient(left, rgba(233,44,88,1) 15%, rgba(233,47,91,1) 15%, rgba(227,46,95,1) 19%, rgba(113,19,172,1) 96%, rgba(113,19,172,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(15%, rgba(233,44,88,1)), color-stop(15%, rgba(233,47,91,1)), color-stop(19%, rgba(227,46,95,1)), color-stop(96%, rgba(113,19,172,1)), color-stop(100%, rgba(113,19,172,1)));
background: -webkit-linear-gradient(left, rgb(45, 0, 0) 15%, rgb(47, 3, 3) 15%, rgb(37, 0, 10) 19%, rgb(152, 0, 77) 96%, rgb(172, 19, 97) 100%);
background: -o-linear-gradient(left, rgba(233,44,88,1) 15%, rgba(233,47,91,1) 15%, rgba(227,46,95,1) 19%, rgba(113,19,172,1) 96%, rgba(113,19,172,1) 100%);
background: -ms-linear-gradient(left, rgba(233,44,88,1) 15%, rgba(233,47,91,1) 15%, rgba(227,46,95,1) 19%, rgba(113,19,172,1) 96%, rgba(113,19,172,1) 100%);}

.nunit-bold{font-family: 'nunitobold';}
h4{font-family: 'nunitoextrabold';}
.sub-btn{background-color: #be2026;color: #ffffff;height: 44px;}









/*Font Icon*/
@font-face {
  font-family: 'bms';
  src:  url('../fonts/bms-icon/bms.eot?xw0dya');
  src:  url('../fonts/bms-icon/bms.eot?xw0dya#iefix') format('embedded-opentype'),
    url('../fonts/bms-icon/bms.ttf?xw0dya') format('truetype'),
    url('../fonts/bms-icon/bms.woff?xw0dya') format('woff'),
    url('../fonts/bms-icon/bms.svg?xw0dya#bms') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="bms-icn"], [class*=" bms-icn"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bms' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bms-icngoogle-plus-logo:before {
  content: "\e913";
}
.bms-icnfacebook-letter-logo:before {
  content: "\e914";
}
.bms-icnarrows-1:before {
  content: "\e911";
}
.bms-icnarrows:before {
  content: "\e912";
}
.bms-icnnotification-bell:before {
  content: "\e900";
}
.bms-icnsearch:before {
  content: "\e901";
}
.bms-icntag:before {
  content: "\e902";
}
.bms-icnwindows-logo-silhouette:before {
  content: "\e903";
}
.bms-icnyoutube-logotype:before {
  content: "\e904";
}
.bms-icnandroid-logo:before {
  content: "\e905";
}
.bms-icnlinkedin-button:before {
  content: "\e906";
}
.bms-icnpeople:before {
  content: "\e907";
}
.bms-icnsigns:before {
  content: "\e908";
}
.bms-icnticket:before {
  content: "\e909";
}
.bms-icnapple:before {
  content: "\e90a";
}
.bms-icngoogle-plus-logo-button:before {
  content: "\e90b";
}
.bms-icnsigns2:before {
  content: "\e90c";
}
.bms-icntechnology:before {
  content: "\e90d";
}
.bms-icnshield:before {
  content: "\e90e";
}
.bms-icntwitter-logo-button:before {
  content: "\e90f";
}
.bms-icnfacebook-logo:before {
  content: "\e910";
}


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/bms-icon/icomoon.eot?tfayt5');
  src:  url('../fonts/bms-icon/icomoon.eot?tfayt5#iefix') format('embedded-opentype'),
    url('../fonts/bms-icon/icomoon.ttf?tfayt5') format('truetype'),
    url('../fonts/bms-icon/icomoon.woff?tfayt5') format('woff'),
    url('../fonts/bms-icon/icomoon.svg?tfayt5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logout:before {
  content: "\e900";
}
.icon-settings:before {
  content: "\e901";
}
.icon-play-button:before {
  content: "\e902";
}
.icon-credit-card:before {
  content: "\e903";
}
.icon-agenda:before {
  content: "\e904";
}

